<h1>Фасхутдинов Азамат Рафисович ИУ6-35Б Билет 31 </h1>
<h2>Задание: Дан массив целых чисел arr_u. Определить минимум и максимум массива, поменять их местами в массиве, 
  а сумму этих элементов поместить на место элемента с индексом k, где k - введённое значение. <h2>
<%= form_tag("rk/view", :method => "get") do%>
    <%= text_field_tag(:array, "1 2 3 2 3 0 5 7 4 7 12 9 6")%>
    <%= number_field_tag(:k, "2")%>
    <%= submit_tag("Посчитать")%>
<% end%>